@font-face {
  font-family: 'NotoBold';
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/notosans-bold-webfont.svg#noto_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoItalic';
  src: url("../fonts/notosans-italic-webfont.eot");
  src: url("../fonts/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoRegular';
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff"), url("../fonts/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoLight';
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff"), url("../fonts/notosans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

.menu {
  padding: 2% 18vw;
  background-color: rgba(53, 63, 70, 0.7);
}

@media only screen and (max-width: 480px) {
  .menu {
    padding: 2% 4vw;
  }
}

.logo {
  font-size: 30px;
  font-family: "NotoBold";
  color: #fff;
}

.letra-logo {
  color: #4bcaff;
}

.central-container {
  background-image: url("../imgs/header.jpg");
  padding: 10% 18vw;
}

@media only screen and (max-width: 480px) {
  .central-container {
    padding: 2vw;
  }
}

.central-text {
  background-color: rgba(53, 63, 70, 0.7);
  text-transform: uppercase;
  font-size: 42px;
  font-family: "NotoLight";
  color: #fff;
}

.bot-container {
  background-color: #4bcaff;
  padding: 3% 18vw;
}

.bot-title {
  font-size: 30px;
  font-family: "NotoLight";
  color: #fff;
}

.icono {
  margin: 2% 0;
}

.bot-subtitle {
  font-size: 24px;
  font-family: "NotoRegular";
  color: #fff;
}

.bot-text {
  font-size: 12px;
  font-family: "NotoRegular";
  color: #fff;
}

.lmenu ul {
  list-style: none;
}

.lmenu ul li a {
  padding: 10px;
  border: 1px;
  text-decoration: none;
  font-size: 14px;
  font-family: "notoBold";
  color: #fff;
}

.lmenu ul li a:hover {
  color: #4bcaff;
  border-style: solid;
  border-color: #4bcaff;
}

.p_header {
  padding: 3% 18vw;
}

.p_header ul {
  list-style: none;
}

.p_header ul li a {
  padding: 10px;
  border: 1px;
  text-decoration: none;
  font-size: 14px;
  font-family: "notoBold";
  color: #06090b;
}

.p_header ul li a:hover {
  color: #4bcaff;
  border-style: solid;
  border-color: #4bcaff;
}

.p_log {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "notoRegular";
  color: #06090b;
  display: block;
  width: 1.7em;
  margin-left: .10em;
  border-bottom: 3px solid #353f46;
}

.work-items {
  padding: 0;
  text-align: center;
}

.work {
  display: inline-block;
  padding: 0;
  position: relative;
  margin: .5em;
  cursor: pointer;
}

.work img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  .work {
    margin: 0.5em 0;
  }
}

.inner {
  width: 100%;
  height: 100%;
  background: #353f46;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 10px;
  padding: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.inner p {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-family: "notoRegular";
  color: #fff;
}

.inner:hover {
  opacity: .9;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.j_header {
  background-color: #353f46;
}

.j_header h1 {
  font-size: 30px;
  font-family: "notoRegular";
  color: #fff;
}

.j_header p {
  line-height: 2em;
  font-size: 0.75em;
  font-family: "notoRegular";
  color: #fff;
}

.j_header button {
  font-family: 'notoLight';
  display: inline-block;
  margin: 1em 0 0;
  color: #06090b;
  border: 1px solid #06090b;
  padding: .5em 2em;
  font-size: .75em;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.j_header button:hover {
  color: #4bcaff;
  border: 1px solid #4bcaff;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .j_header button {
    width: 100%;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
  }
}

.j_header {
  padding: 2% 18vw;
  padding-bottom: 0em;
}

@media only screen and (max-width: 480px) {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    margin-top: 2em;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.j_mid {
  padding: 2% 18vw;
  background-color: #4bcaff;
  font-size: 30px;
  font-family: "notoLight";
  color: #fff;
}

.j_mid h2 {
  display: block;
  width: 2em;
  margin-left: .75em;
  border-bottom: 3px solid #fff;
}
/*# sourceMappingURL=style.css.map */